# {{ ansible_managed }}
RESTIC_REPOSITORY={{ restic_exporter_repository }}
RESTIC_PASSWORD={{ restic_exporter_password }}
RESTIC_CACHE_DIR=/var/lib/restic-exporter/cache
RESTIC_EXPORTER_PROJECT_DIR={{ restic_exporter_project_dir }}
EXPORTER_PORT={{ restic_exporter_port }}
